In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [18]:
df_raw=pd.read_csv("../data/MIXED1000patients_subsamples/1/brca_mRNA_1000patients.csv")
df_prcsd=pd.read_csv("../data/MIXED1000patients_subsamples/1/CTGAN/brca_mRNA_patients_embedding_dim128_gen_dim256_dis_dim256_l2scale1e-06_batch_size500_epochs500.csv")

In [39]:
raw=df_raw[["TMB_NONSYNONYMOUS","RFS_MONTHS","NPI","AGE_AT_DIAGNOSIS","OS_MONTHS"]];
prcsd=df_prcsd[["TMB_NONSYNONYMOUS","RFS_MONTHS","NPI","AGE_AT_DIAGNOSIS","OS_MONTHS"]];

In [48]:
raw

     TMB_NONSYNONYMOUS  RFS_MONTHS    NPI  AGE_AT_DIAGNOSIS   OS_MONTHS
0            13.075177      120.79  2.040             55.67  122.400000
1             1.307518       17.24  4.090             28.04   33.900000
2            18.305248      113.09  4.043             67.60  114.600000
3            11.767659      181.91  3.030             55.04  184.333333
4            18.305248       19.54  5.070             51.36   32.833333
..                 ...         ...    ...               ...         ...
995           6.537589      137.07  3.040             58.95  138.900000
996          28.765389       88.72  5.134             73.24   89.900000
997           2.615035       20.39  4.040             48.58   26.266667
998           0.000000       85.86  5.052             65.45   87.000000
999           0.000000      123.42  3.030             64.94  125.066667

[1000 rows x 5 columns]

In [84]:
corr_arr=np.zeros((1000,1))+1j

for i in range(1000):
    raw_test=np.array(raw.loc[0,:])
    raw_test_fft=np.fft.fft(raw_test)

    prcsd_fft=np.fft.fft(np.array(prcsd.loc[i,:]))
    corr=np.dot(raw_test,np.transpose(np.conjugate(prcsd_fft)))
    corr_arr[i]=corr

np.shape(corr_arr)

(1000, 1)

In [77]:
np.shape(np.conjugate(prcsd_fft))

(5,)

In [78]:
raw_test.shape

(5,)